/* Dashboard */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px;
gap: 10px;

position: relative;
width: 1676px;
height: 955px;

background: #FFFFFF;


/* Toph Navigation Bar */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 10px;
gap: 10px;

width: 280px;
max-width: 280px;
height: 935px;

background: #FFFFFF;
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 152 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 4px 14px 4px 4px;
gap: 10px;

width: 260px;
height: 50px;

border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 153 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

margin: 0 auto;
width: 129px;
height: 42px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Ellipse 11 */

width: 42px;
height: 42px;

background: url(daniel bays.jpg);
box-shadow: inset 0px 3px 4.5px rgba(0, 0, 0, 0.1);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 150 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 77px;
height: 28px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Bays Ranch */

width: 77px;
height: 10px;

font-family: 'Geist';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 149 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 5px;

width: 77px;
height: 10px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* user-star */

width: 10px;
height: 10px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* user-star */

position: absolute;
width: 10px;
height: 10px;
left: 0px;
top: 0px;



/* Vector */

position: absolute;
left: 49.7%;
right: 8.07%;
top: 49.69%;
bottom: 9.72%;

border: 1px solid #808080;


/* Vector */

position: absolute;
left: 12.5%;
right: 66.67%;
top: 62.5%;
bottom: 12.5%;

border: 1px solid #808080;


/* Vector */

position: absolute;
left: 25%;
right: 41.67%;
top: 12.5%;
bottom: 54.17%;

border: 1px solid #808080;


/* Admin */

width: 43px;
height: 10px;

font-family: 'Geist';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;

color: #808080;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* inbox */

margin: 0 auto;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* inbox */

position: absolute;
width: 16px;
height: 16px;
left: 0px;
top: 0px;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 50%;
bottom: 37.5%;

border: 1.33333px solid #4D4D4D;


/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 16.67%;
bottom: 16.67%;

border: 1.33333px solid #4D4D4D;


/* Frame 154 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 260px;
height: 147px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 157 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 4px 10px;
gap: 10px;

width: 260px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* OVERVIEW */

width: 52px;
height: 13px;

font-family: 'Geist';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 13px;
/* identical to box height */

color: #B3B3B3;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 10px 14px;
gap: 14px;

width: 260px;
height: 38px;

background: rgba(0, 0, 0, 0.05);
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 159 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 14px;

margin: 0 auto;
width: 100px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* chart-line */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* chart-line */

position: absolute;
width: 16px;
height: 16px;
left: 0px;
top: 0px;



/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 12.5%;
bottom: 12.5%;

border: 1.33333px solid #4D4D4D;


/* Vector */

position: absolute;
left: 29.17%;
right: 20.83%;
top: 37.5%;
bottom: 41.67%;

border: 1.33333px solid #4D4D4D;


/* Dashboard */

width: 70px;
height: 18px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 158 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 4px;
gap: 10px;

margin: 0 auto;
width: 20px;
height: 14px;

background: rgba(1, 156, 37, 0.5);
border: 0.5px solid rgba(0, 105, 57, 0.26);
border-radius: 50px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 1 */

width: 5px;
height: 13px;

font-family: 'Geist';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 13px;
/* identical to box height */
text-align: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 14px;
gap: 14px;

width: 260px;
height: 38px;

border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* audio-lines */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* audio-lines */

position: absolute;
width: 16px;
height: 16px;
left: 0px;
top: 0px;



/* Vector */

position: absolute;
left: 8.33%;
right: 91.67%;
top: 41.67%;
bottom: 45.83%;

border: 1.33333px solid #4D4D4D;


/* Vector */

position: absolute;
left: 25%;
right: 75%;
top: 25%;
bottom: 29.17%;

border: 1.33333px solid #4D4D4D;


/* Vector */

position: absolute;
left: 41.67%;
right: 58.33%;
top: 12.5%;
bottom: 12.5%;

border: 1.33333px solid #4D4D4D;


/* Vector */

position: absolute;
left: 58.33%;
right: 41.67%;
top: 33.33%;
bottom: 37.5%;

border: 1.33333px solid #4D4D4D;


/* Vector */

position: absolute;
left: 75%;
right: 25%;
top: 20.83%;
bottom: 25%;

border: 1.33333px solid #4D4D4D;


/* Vector */

position: absolute;
left: 91.67%;
right: 8.33%;
top: 41.67%;
bottom: 45.83%;

border: 1.33333px solid #4D4D4D;


/* Activity Logs */

width: 83px;
height: 18px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 14px;
gap: 14px;

width: 260px;
height: 38px;

border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* map */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* map */

position: absolute;
width: 16px;
height: 16px;
left: 0px;
top: 0px;



/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 13.48%;
bottom: 13.48%;

border: 1.33333px solid #4D4D4D;


/* Vector */

position: absolute;
left: 62.5%;
right: 37.5%;
top: 24.02%;
bottom: 13.48%;

border: 1.33333px solid #4D4D4D;


/* Vector */

position: absolute;
left: 37.5%;
right: 62.5%;
top: 13.48%;
bottom: 24.02%;

border: 1.33333px solid #4D4D4D;


/* Map */

width: 29px;
height: 18px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 155 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 260px;
height: 147px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Frame 157 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 4px 10px;
gap: 10px;

width: 260px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* COMPLIANCE */

width: 66px;
height: 13px;

font-family: 'Geist';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 13px;
/* identical to box height */

color: #B3B3B3;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 14px;
gap: 14px;

width: 260px;
height: 38px;

border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* book-check */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* book-check */

position: absolute;
width: 16px;
height: 16px;
left: 0px;
top: 0px;



/* Vector */

position: absolute;
left: 16.67%;
right: 16.67%;
top: 8.33%;
bottom: 8.33%;

border: 1.33333px solid #4D4D4D;


/* Vector */

position: absolute;
left: 37.5%;
right: 37.5%;
top: 31.25%;
bottom: 52.08%;

border: 1.33333px solid #4D4D4D;


/* Audit Manager */

width: 94px;
height: 18px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 14px;
gap: 14px;

width: 260px;
height: 38px;

border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* files */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* files */

position: absolute;
width: 16px;
height: 16px;
left: 0px;
top: 0px;



/* Vector */

position: absolute;
left: 37.5%;
right: 12.5%;
top: 8.33%;
bottom: 29.17%;

border: 1.33333px solid #4D4D4D;


/* Vector */

position: absolute;
left: 62.5%;
right: 12.5%;
top: 8.33%;
bottom: 66.67%;

border: 1.33333px solid #4D4D4D;


/* Vector */

position: absolute;
left: 12.5%;
right: 38.62%;
top: 29.17%;
bottom: 8.33%;

border: 1.33333px solid #4D4D4D;


/* Reports */

width: 51px;
height: 18px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 14px;
gap: 14px;

width: 260px;
height: 38px;

border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* calendar */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* calendar */

position: absolute;
width: 16px;
height: 16px;
left: 0px;
top: 0px;



/* Vector */

position: absolute;
left: 33.33%;
right: 66.67%;
top: 8.33%;
bottom: 75%;

border: 1.33333px solid #4D4D4D;


/* Vector */

position: absolute;
left: 66.67%;
right: 33.33%;
top: 8.33%;
bottom: 75%;

border: 1.33333px solid #4D4D4D;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 16.67%;
bottom: 8.33%;

border: 1.33333px solid #4D4D4D;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 41.67%;
bottom: 58.33%;

border: 1.33333px solid #4D4D4D;


/* Schedule */

width: 60px;
height: 18px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 156 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 260px;
height: 147px;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Frame 157 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 4px 10px;
gap: 10px;

width: 260px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* TEAM MANAGEMENT */

width: 100px;
height: 13px;

font-family: 'Geist';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 13px;
/* identical to box height */

color: #B3B3B3;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 14px;
gap: 14px;

width: 260px;
height: 38px;

border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* users */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* users */

position: absolute;
width: 16px;
height: 16px;
left: 0px;
top: 0px;



/* Vector */

position: absolute;
left: 8.33%;
right: 33.33%;
top: 62.5%;
bottom: 12.5%;

border: 1.33333px solid #4D4D4D;


/* Vector */

position: absolute;
left: 66.67%;
right: 20.85%;
top: 13.03%;
bottom: 54.7%;

border: 1.33333px solid #4D4D4D;


/* Vector */

position: absolute;
left: 79.17%;
right: 8.33%;
top: 63.04%;
bottom: 12.5%;

border: 1.33333px solid #4D4D4D;


/* Vector */

position: absolute;
left: 20.83%;
right: 45.83%;
top: 12.5%;
bottom: 54.17%;

border: 1.33333px solid #4D4D4D;


/* Employees */

width: 70px;
height: 18px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 14px;
gap: 14px;

width: 260px;
height: 38px;

border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* chart-pie */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* chart-pie */

position: absolute;
width: 16px;
height: 16px;
left: 0px;
top: 0px;



/* Vector */

position: absolute;
left: 50%;
right: 8.52%;
top: 8.53%;
bottom: 50%;

border: 1.33333px solid #4D4D4D;


/* Vector */

position: absolute;
left: 8.33%;
right: 11.63%;
top: 11.79%;
bottom: 8.35%;

border: 1.33333px solid #4D4D4D;


/* Performance */

width: 82px;
height: 18px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 14px;
gap: 14px;

width: 260px;
height: 38px;

border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* mail */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* mail */

position: absolute;
width: 16px;
height: 16px;
left: 0px;
top: 0px;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 29.17%;
bottom: 45.84%;

border: 1.33333px solid #4D4D4D;


/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 16.67%;
bottom: 16.67%;

border: 1.33333px solid #4D4D4D;


/* Messages */

width: 66px;
height: 18px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 157 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 260px;
height: 288px;


/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 1;


/* Frame 157 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 4px 10px;
gap: 10px;

width: 260px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* OTHER */

width: 33px;
height: 13px;

font-family: 'Geist';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 13px;
/* identical to box height */

color: #B3B3B3;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 14px;
gap: 14px;

width: 260px;
height: 38px;

border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* cog */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* cog */

position: absolute;
width: 16px;
height: 16px;
left: 0px;
top: 0px;



/* Vector */

position: absolute;
left: 29.17%;
right: 54.17%;
top: 13.92%;
bottom: 57.21%;

border: 1.33333px solid #4D4D4D;


/* Vector */

position: absolute;
left: 29.17%;
right: 54.17%;
top: 57.21%;
bottom: 13.92%;

border: 1.33333px solid #4D4D4D;


/* Vector */

position: absolute;
left: 50%;
right: 50%;
top: 83.33%;
bottom: 8.33%;

border: 1.33333px solid #4D4D4D;


/* Vector */

position: absolute;
left: 50%;
right: 50%;
top: 8.33%;
bottom: 83.33%;

border: 1.33333px solid #4D4D4D;


/* Vector */

position: absolute;
left: 58.33%;
right: 8.33%;
top: 50%;
bottom: 50%;

border: 1.33333px solid #4D4D4D;


/* Vector */

position: absolute;
left: 66.67%;
right: 29.17%;
top: 78.87%;
bottom: 13.92%;

border: 1.33333px solid #4D4D4D;


/* Vector */

position: absolute;
left: 66.67%;
right: 29.17%;
top: 13.92%;
bottom: 78.87%;

border: 1.33333px solid #4D4D4D;


/* Vector */

position: absolute;
left: 8.33%;
right: 83.33%;
top: 50%;
bottom: 50%;

border: 1.33333px solid #4D4D4D;


/* Vector */

position: absolute;
left: 78.87%;
right: 13.92%;
top: 66.67%;
bottom: 29.17%;

border: 1.33333px solid #4D4D4D;


/* Vector */

position: absolute;
left: 78.87%;
right: 13.92%;
top: 29.17%;
bottom: 66.67%;

border: 1.33333px solid #4D4D4D;


/* Vector */

position: absolute;
left: 13.92%;
right: 78.87%;
top: 66.67%;
bottom: 29.17%;

border: 1.33333px solid #4D4D4D;


/* Vector */

position: absolute;
left: 13.92%;
right: 78.87%;
top: 29.17%;
bottom: 66.67%;

border: 1.33333px solid #4D4D4D;


/* Vector */

position: absolute;
left: 41.67%;
right: 41.67%;
top: 41.67%;
bottom: 41.67%;

border: 1.33333px solid #4D4D4D;


/* Vector */

position: absolute;
left: 16.67%;
right: 16.67%;
top: 16.67%;
bottom: 16.67%;

border: 1.33333px solid #4D4D4D;


/* Settings */

width: 54px;
height: 18px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 14px;
gap: 14px;

width: 260px;
height: 38px;

border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* handshake */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* handshake */

position: absolute;
width: 16px;
height: 16px;
left: 0px;
top: 0px;



/* Vector */

position: absolute;
left: 45.83%;
right: 30.74%;
top: 66.67%;
bottom: 18.24%;

border: 1.33333px solid #4D4D4D;


/* Vector */

position: absolute;
left: 28.66%;
right: 12.5%;
top: 12.5%;
bottom: 28.66%;

border: 1.33333px solid #4D4D4D;


/* Vector */

position: absolute;
left: 83.33%;
right: 8.33%;
top: 12.5%;
bottom: 41.67%;

border: 1.33333px solid #4D4D4D;


/* Vector */

position: absolute;
left: 8.33%;
right: 49.49%;
top: 12.5%;
bottom: 11.99%;

border: 1.33333px solid #4D4D4D;


/* Vector */

position: absolute;
left: 12.5%;
right: 54.17%;
top: 16.67%;
bottom: 83.33%;

border: 1.33333px solid #4D4D4D;


/* Support */

width: 52px;
height: 18px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 14px;
gap: 14px;

width: 260px;
height: 38px;

border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 5;
align-self: stretch;
flex-grow: 0;


/* arrow-right-left */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* arrow-right-left */

position: absolute;
width: 16px;
height: 16px;
left: 0px;
top: 0px;



/* Vector */

position: absolute;
left: 66.67%;
right: 16.67%;
top: 12.5%;
bottom: 54.17%;

border: 1.33333px solid #4D4D4D;


/* Vector */

position: absolute;
left: 16.67%;
right: 16.67%;
top: 29.17%;
bottom: 70.83%;

border: 1.33333px solid #4D4D4D;


/* Vector */

position: absolute;
left: 16.67%;
right: 66.67%;
top: 54.17%;
bottom: 12.5%;

border: 1.33333px solid #4D4D4D;


/* Vector */

position: absolute;
left: 16.67%;
right: 16.67%;
top: 70.83%;
bottom: 29.17%;

border: 1.33333px solid #4D4D4D;


/* Switch User */

width: 78px;
height: 18px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 14px;
gap: 14px;

width: 260px;
height: 38px;

border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 6;
align-self: stretch;
flex-grow: 0;


/* log-out */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* log-out */

position: absolute;
width: 16px;
height: 16px;
left: 0px;
top: 0px;



/* Vector */

position: absolute;
left: 66.67%;
right: 12.5%;
top: 29.17%;
bottom: 29.17%;

border: 1.33333px solid #4D4D4D;


/* Vector */

position: absolute;
left: 37.5%;
right: 12.5%;
top: 50%;
bottom: 50%;

border: 1.33333px solid #4D4D4D;


/* Vector */

position: absolute;
left: 12.5%;
right: 62.5%;
top: 12.5%;
bottom: 12.5%;

border: 1.33333px solid #4D4D4D;


/* Log Out */

width: 51px;
height: 18px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Main Dash */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px 30px;
gap: 10px;

width: 1366px;
height: 935px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 20 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 20px 0px;
gap: 10px;

width: 1306px;
height: 87px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 178 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

margin: 0 auto;
width: 346px;
height: 47px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Dashboard */

width: 105px;
height: 26px;

font-family: 'Geist';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 26px;
/* identical to box height */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* An overview of your farm and employee activity */

width: 346px;
height: 21px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* identical to box height */

color: #4D4D4D;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 183 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

margin: 0 auto;
width: 370px;
height: 34px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 176 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px 16px;
gap: 10px;

width: 370px;
height: 34px;

background: #FFFFFF;
border: 1px solid #E6E6E6;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);
border-radius: 30px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* search */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* search */

position: absolute;
width: 16px;
height: 16px;
left: 0px;
top: 0px;



/* Vector */

position: absolute;
left: 69.42%;
right: 12.5%;
top: 69.42%;
bottom: 12.5%;

border: 1.33333px solid #CCCCCC;


/* Vector */

position: absolute;
left: 12.5%;
right: 20.83%;
top: 12.5%;
bottom: 20.83%;

border: 1.33333px solid #CCCCCC;


/* Search */

width: 46px;
height: 18px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #CCCCCC;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 176 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 1306px;
height: 115px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 120 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 20px;
gap: 20px;

width: 428.67px;
height: 115px;

border: 0.88px solid #F2F2F2;
border-radius: 14px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Frame 124 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

width: 162px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* calendar */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* calendar */

position: absolute;
width: 16px;
height: 16px;
left: 0px;
top: 0px;



/* Vector */

position: absolute;
left: 33.33%;
right: 66.67%;
top: 8.33%;
bottom: 75%;

border: 1.33333px solid #000000;


/* Vector */

position: absolute;
left: 66.67%;
right: 33.33%;
top: 8.33%;
bottom: 75%;

border: 1.33333px solid #000000;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 16.67%;
bottom: 8.33%;

border: 1.33333px solid #000000;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 41.67%;
bottom: 58.33%;

border: 1.33333px solid #000000;


/* Todays Recordings */

width: 138px;
height: 21px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* identical to box height */

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 126 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-end;
padding: 0px;
gap: 20px;

width: 90px;
height: 34px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 5 */

width: 31px;
height: 34px;

font-family: 'Geist';
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 62px;
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 1 New */

width: 39px;
height: 18px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #000000;

opacity: 0.5;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 116 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 20px;
gap: 20px;

width: 428.67px;
height: 115px;

border: 0.88px solid #F2F2F2;
border-radius: 14px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Frame 124 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

width: 135px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* clipboard-pen */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* clipboard-pen */

position: absolute;
width: 16px;
height: 16px;
left: 0px;
top: 0px;



/* Vector */

position: absolute;
left: 33.33%;
right: 33.33%;
top: 8.33%;
bottom: 75%;

border: 1.33333px solid #000000;


/* Vector */

position: absolute;
left: 52.08%;
right: 16.67%;
top: 16.67%;
bottom: 8.33%;

border: 1.33333px solid #000000;


/* Vector */

position: absolute;
left: 16.67%;
right: 66.67%;
top: 16.67%;
bottom: 43.75%;

border: 1.33333px solid #000000;


/* Vector */

position: absolute;
left: 16.67%;
right: 41.67%;
top: 50%;
bottom: 8.34%;

border: 1.33333px solid #000000;


/* Active Workers */

width: 111px;
height: 21px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* identical to box height */

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 126 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-end;
padding: 0px;
gap: 20px;

width: 50px;
height: 34px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 12 */

width: 50px;
height: 34px;

font-family: 'Geist';
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 62px;
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 121 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 20px;
gap: 20px;

width: 428.67px;
height: 115px;

border: 0.88px solid #F2F2F2;
border-radius: 14px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* Frame 124 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

width: 169px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* percent */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* percent */

position: absolute;
width: 16px;
height: 16px;
left: 0px;
top: 0px;



/* Vector */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 20.83%;
bottom: 20.83%;

border: 1.33333px solid #000000;


/* Vector */

position: absolute;
left: 16.67%;
right: 62.5%;
top: 16.67%;
bottom: 62.5%;

border: 1.33333px solid #000000;


/* Vector */

position: absolute;
left: 62.5%;
right: 16.67%;
top: 62.5%;
bottom: 16.67%;

border: 1.33333px solid #000000;


/* Response Accuracy */

width: 145px;
height: 21px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* identical to box height */

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 126 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-end;
padding: 0px;
gap: 20px;

width: 63px;
height: 34px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 90 */

width: 63px;
height: 34px;

font-family: 'Geist';
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 62px;
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 32 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 1306px;
height: 364px;

background: #FFFFFF;
border: 1px solid #F2F2F2;
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Frame 179 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 20px 30px;
gap: 10px;

width: 1306px;
height: 74px;

border-bottom: 1px solid #F2F2F2;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 184 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

margin: 0 auto;
width: 197px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* audio-lines */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* audio-lines */

position: absolute;
width: 16px;
height: 16px;
left: 0px;
top: 0px;



/* Vector */

position: absolute;
left: 8.33%;
right: 91.67%;
top: 41.67%;
bottom: 45.83%;

border: 1.33333px solid #000000;


/* Vector */

position: absolute;
left: 25%;
right: 75%;
top: 25%;
bottom: 29.17%;

border: 1.33333px solid #000000;


/* Vector */

position: absolute;
left: 41.67%;
right: 58.33%;
top: 12.5%;
bottom: 12.5%;

border: 1.33333px solid #000000;


/* Vector */

position: absolute;
left: 58.33%;
right: 41.67%;
top: 33.33%;
bottom: 37.5%;

border: 1.33333px solid #000000;


/* Vector */

position: absolute;
left: 75%;
right: 25%;
top: 20.83%;
bottom: 25%;

border: 1.33333px solid #000000;


/* Vector */

position: absolute;
left: 91.67%;
right: 8.33%;
top: 41.67%;
bottom: 45.83%;

border: 1.33333px solid #000000;


/* New Employee Logs (4) */

width: 171px;
height: 21px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* identical to box height */

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 180 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

margin: 0 auto;
width: 444px;
height: 34px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 179 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 16px;
gap: 10px;

width: 89px;
height: 34px;

background: #000000;
border: 1px solid #E6E6E6;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);
border-radius: 80px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* x */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* x */

position: absolute;
width: 16px;
height: 16px;
left: 0px;
top: 0px;



/* Vector */

position: absolute;
left: 25%;
right: 25%;
top: 25%;
bottom: 25%;

border: 1.33333px solid #FFFFFF;


/* Vector */

position: absolute;
left: 25%;
right: 25%;
top: 25%;
bottom: 25%;

border: 1.33333px solid #FFFFFF;


/* Date */

width: 31px;
height: 18px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 180 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 16px;
gap: 10px;

width: 86px;
height: 34px;

background: #FFFFFF;
border: 1px solid #E6E6E6;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);
border-radius: 80px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* list-filter */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* list-filter */

position: absolute;
width: 16px;
height: 16px;
left: 0px;
top: 0px;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 20.83%;
bottom: 79.17%;

border: 1.33333px solid #4D4D4D;


/* Vector */

position: absolute;
left: 25%;
right: 25%;
top: 50%;
bottom: 50%;

border: 1.33333px solid #4D4D4D;


/* Vector */

position: absolute;
left: 37.5%;
right: 37.5%;
top: 79.17%;
bottom: 20.83%;

border: 1.33333px solid #4D4D4D;


/* Sort */

width: 28px;
height: 18px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #4D4D4D;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 181 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 16px;
gap: 10px;

width: 148px;
height: 34px;

background: #000000;
border: 1px solid #E6E6E6;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);
border-radius: 80px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* x */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* x */

position: absolute;
width: 16px;
height: 16px;
left: 0px;
top: 0px;



/* Vector */

position: absolute;
left: 25%;
right: 25%;
top: 25%;
bottom: 25%;

border: 1.33333px solid #FFFFFF;


/* Vector */

position: absolute;
left: 25%;
right: 25%;
top: 25%;
bottom: 25%;

border: 1.33333px solid #FFFFFF;


/* This Month */

width: 90px;
height: 18px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 177 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 16px;
gap: 10px;

width: 91px;
height: 34px;

background: #FFFFFF;
border: 1px solid #E6E6E6;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);
border-radius: 80px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* funnel */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* funnel */

position: absolute;
width: 16px;
height: 16px;
left: 0px;
top: 0px;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.34%;
top: 12.5%;
bottom: 8.33%;

border: 1.33333px solid #4D4D4D;


/* Filter */

width: 33px;
height: 18px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #4D4D4D;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 160 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px 20px;
gap: 30px;

width: 1306px;
height: 58px;

border-bottom: 1px solid #E6E6E6;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 172 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 20px;
gap: 10px;

margin: 0 auto;
width: 56px;
height: 16px;

opacity: 0.3;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* square */

width: 16px;
height: 16px;

transform: matrix(-1, 0, 0, 1, 0, 0);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* square */

position: absolute;
width: 16px;
height: 16px;
left: 0px;
top: 0px;

transform: matrix(-1, 0, 0, 1, 0, 0);


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 12.5%;
bottom: 12.5%;

border: 1.33333px solid #4D4D4D;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Frame 171 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 20px 10px;
gap: 10px;

margin: 0 auto;
width: 223.6px;
height: 58px;

opacity: 0.3;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* EMPLOYEE */

width: 72px;
height: 18px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #4D4D4D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 170 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 20px 10px;
gap: 10px;

margin: 0 auto;
width: 223.6px;
height: 58px;

opacity: 0.3;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* ACTIVITY */

width: 58px;
height: 18px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #4D4D4D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 169 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 20px 10px;
gap: 10px;

margin: 0 auto;
width: 223.6px;
height: 58px;

opacity: 0.3;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 1;


/* DATE */

width: 34px;
height: 18px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #4D4D4D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 168 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 20px 10px;
gap: 10px;

margin: 0 auto;
width: 223.6px;
height: 58px;

opacity: 0.3;

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 1;


/* FIELD */

width: 38px;
height: 18px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #4D4D4D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 173 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 20px 10px;
gap: 10px;

margin: 0 auto;
width: 223.6px;
height: 58px;

opacity: 0.3;

/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 1;


/* TIME */

width: 32px;
height: 18px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #4D4D4D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 167 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px 30px;
gap: 10px;

margin: 0 auto;
width: 92px;
height: 58px;

opacity: 0;

/* Inside auto layout */
flex: none;
order: 6;
flex-grow: 0;


/* Frame 176 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 16px;
gap: 10px;

width: 84px;
height: 34px;

background: #FFFFFF;
border: 1px solid #E6E6E6;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* View All */

width: 52px;
height: 18px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #4D4D4D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 181 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 1306px;
height: 232px;
overflow-y: scroll;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Frame 161 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px 20px;
gap: 30px;

width: 1306px;
height: 58px;

background: #F8F8F8;
border-bottom: 1px solid #F2F2F2;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 173 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 20px;
gap: 10px;

margin: 0 auto;
width: 56px;
height: 16px;

opacity: 0.2;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* square */

width: 16px;
height: 16px;

transform: matrix(-1, 0, 0, 1, 0, 0);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* square */

position: absolute;
width: 16px;
height: 16px;
left: 0px;
top: 0px;

transform: matrix(-1, 0, 0, 1, 0, 0);


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 12.5%;
bottom: 12.5%;

border: 1.33333px solid #4D4D4D;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Frame 162 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 20px 10px;
gap: 10px;

margin: 0 auto;
width: 223.6px;
height: 58px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Isaac Wang */

width: 75px;
height: 18px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #4D4D4D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 163 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 20px 10px;
gap: 10px;

margin: 0 auto;
width: 223.6px;
height: 58px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* Spraying */

width: 57px;
height: 18px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #4D4D4D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 164 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 20px 10px;
gap: 10px;

margin: 0 auto;
width: 223.6px;
height: 58px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 1;


/* April 19, 2026 */

width: 88px;
height: 18px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #4D4D4D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 165 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 20px 10px;
gap: 10px;

margin: 0 auto;
width: 223.6px;
height: 58px;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 1;


/* FIELD A */

width: 50px;
height: 18px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #4D4D4D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 174 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 20px 10px;
gap: 10px;

margin: 0 auto;
width: 223.6px;
height: 58px;


/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 1;


/* 6:00 AM - 10:40 AM */

width: 131px;
height: 18px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #4D4D4D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 166 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px 30px;
gap: 10px;

margin: 0 auto;
width: 92px;
height: 58px;


/* Inside auto layout */
flex: none;
order: 6;
flex-grow: 0;


/* Frame 175 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 16px;
gap: 10px;

width: 64px;
height: 34px;

background: #FFFFFF;
border: 1px solid #F2F2F2;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);
border-radius: 80px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* View */

width: 32px;
height: 18px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #4D4D4D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 162 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px 20px;
gap: 30px;

width: 1306px;
height: 58px;

border-bottom: 1px solid #F2F2F2;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 173 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 20px;
gap: 10px;

margin: 0 auto;
width: 56px;
height: 16px;

opacity: 0.2;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* square */

width: 16px;
height: 16px;

transform: matrix(-1, 0, 0, 1, 0, 0);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* square */

position: absolute;
width: 16px;
height: 16px;
left: 0px;
top: 0px;

transform: matrix(-1, 0, 0, 1, 0, 0);


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 12.5%;
bottom: 12.5%;

border: 1.33333px solid #4D4D4D;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Frame 162 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 20px 10px;
gap: 10px;

margin: 0 auto;
width: 223.6px;
height: 58px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Maya Patel */

width: 71px;
height: 18px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #4D4D4D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 163 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 20px 10px;
gap: 10px;

margin: 0 auto;
width: 223.6px;
height: 58px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* Harvesting */

width: 70px;
height: 18px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #4D4D4D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 164 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 20px 10px;
gap: 10px;

margin: 0 auto;
width: 223.6px;
height: 58px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 1;


/* April 20, 2026 */

width: 92px;
height: 18px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #4D4D4D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 165 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 20px 10px;
gap: 10px;

margin: 0 auto;
width: 223.6px;
height: 58px;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 1;


/* FIELD B */

width: 51px;
height: 18px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #4D4D4D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 174 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 20px 10px;
gap: 10px;

margin: 0 auto;
width: 223.6px;
height: 58px;


/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 1;


/* 7:30 AM - 11:15 AM */

width: 121px;
height: 18px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #4D4D4D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 166 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px 30px;
gap: 10px;

margin: 0 auto;
width: 92px;
height: 58px;


/* Inside auto layout */
flex: none;
order: 6;
flex-grow: 0;


/* Frame 175 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 16px;
gap: 10px;

width: 64px;
height: 34px;

background: #FFFFFF;
border: 1px solid #F2F2F2;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);
border-radius: 80px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* View */

width: 32px;
height: 18px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #4D4D4D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 163 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px 20px;
gap: 30px;

width: 1306px;
height: 58px;

border-bottom: 1px solid #F2F2F2;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Frame 173 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 20px;
gap: 10px;

margin: 0 auto;
width: 56px;
height: 16px;

opacity: 0.2;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* square */

width: 16px;
height: 16px;

transform: matrix(-1, 0, 0, 1, 0, 0);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* square */

position: absolute;
width: 16px;
height: 16px;
left: 0px;
top: 0px;

transform: matrix(-1, 0, 0, 1, 0, 0);


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 12.5%;
bottom: 12.5%;

border: 1.33333px solid #4D4D4D;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Frame 162 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 20px 10px;
gap: 10px;

margin: 0 auto;
width: 223.6px;
height: 58px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Liam Johnson */

width: 90px;
height: 18px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #4D4D4D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 163 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 20px 10px;
gap: 10px;

margin: 0 auto;
width: 223.6px;
height: 58px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* Planting */

width: 54px;
height: 18px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #4D4D4D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 164 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 20px 10px;
gap: 10px;

margin: 0 auto;
width: 223.6px;
height: 58px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 1;


/* April 21, 2026 */

width: 88px;
height: 18px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #4D4D4D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 165 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 20px 10px;
gap: 10px;

margin: 0 auto;
width: 223.6px;
height: 58px;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 1;


/* FIELD C */

width: 51px;
height: 18px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #4D4D4D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 174 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 20px 10px;
gap: 10px;

margin: 0 auto;
width: 223.6px;
height: 58px;


/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 1;


/* 8:00 AM - 12:00 PM */

width: 130px;
height: 18px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #4D4D4D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 166 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px 30px;
gap: 10px;

margin: 0 auto;
width: 92px;
height: 58px;


/* Inside auto layout */
flex: none;
order: 6;
flex-grow: 0;


/* Frame 175 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 16px;
gap: 10px;

width: 64px;
height: 34px;

background: #FFFFFF;
border: 1px solid #F2F2F2;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);
border-radius: 80px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* View */

width: 32px;
height: 18px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #4D4D4D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 164 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px 20px;
gap: 30px;

width: 1306px;
height: 58px;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Frame 173 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 20px;
gap: 10px;

margin: 0 auto;
width: 56px;
height: 16px;

opacity: 0.2;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* square */

width: 16px;
height: 16px;

transform: matrix(-1, 0, 0, 1, 0, 0);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* square */

position: absolute;
width: 16px;
height: 16px;
left: 0px;
top: 0px;

transform: matrix(-1, 0, 0, 1, 0, 0);


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 12.5%;
bottom: 12.5%;

border: 1.33333px solid #4D4D4D;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Frame 162 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 20px 10px;
gap: 10px;

margin: 0 auto;
width: 223.6px;
height: 58px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Sophia Lee */

width: 71px;
height: 18px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #4D4D4D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 163 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 20px 10px;
gap: 10px;

margin: 0 auto;
width: 223.6px;
height: 58px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* Irrigation */

width: 58px;
height: 18px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #4D4D4D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 164 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 20px 10px;
gap: 10px;

margin: 0 auto;
width: 223.6px;
height: 58px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 1;


/* April 22, 2026 */

width: 92px;
height: 18px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #4D4D4D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 165 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 20px 10px;
gap: 10px;

margin: 0 auto;
width: 223.6px;
height: 58px;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 1;


/* FIELD D */

width: 51px;
height: 18px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #4D4D4D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 174 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 20px 10px;
gap: 10px;

margin: 0 auto;
width: 223.6px;
height: 58px;


/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 1;


/* 6:30 AM - 9:30 AM */

width: 124px;
height: 18px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #4D4D4D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 166 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px 30px;
gap: 10px;

margin: 0 auto;
width: 92px;
height: 58px;


/* Inside auto layout */
flex: none;
order: 6;
flex-grow: 0;


/* Frame 175 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 16px;
gap: 10px;

width: 64px;
height: 34px;

background: #FFFFFF;
border: 1px solid #F2F2F2;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);
border-radius: 80px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* View */

width: 32px;
height: 18px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #4D4D4D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
