.canvas { position: relative; min-width: 100%; flex-shrink: 0; }
.image { display: block; width: 100%; height: auto; user-select: none; }
.regions { position: absolute; inset: 0; width: 100%; height: 100%; }
.region { outline: none; cursor: pointer; }
.region > :is(polygon, path) { fill: transparent; stroke: transparent; stroke-width: 2px; pointer-events: all; }
.region:hover > :is(polygon, path), .region:focus-visible > :is(polygon, path) { fill: rgb(0 101 240 / 18%); stroke: white; }
.region:focus-visible > :is(polygon, path) { stroke-width: 3px; stroke: var(--toph-color-field-outline); fill: rgb(0 101 240 / 30%); }

.selectedRegion > :is(polygon, path) { fill:rgb(0 101 240 / 20%); stroke:var(--toph-color-field-outline); stroke-width:2px; }
.logMarker { pointer-events: none; }
